<div class="container">
  <% @articles.each do |article| %>
  <div class="row justify-content-center">
    <div class="col-8 mt-4 shadow-lg mb-5 bg-body rounded text-white">
      <div class="card text-center">
        <div class="card-header bg-dark text-left font-italic font-weight-bold">
          <% if article.user %>
          by <%= link_to article.user.username, user_path(article.user) %>
          <% end %>
        </div>
        <div class="card-body  bg-secondary bg-gradient">
          <h5 class="card-title"><%= link_to article.title, article_path(article), class: 'text-success' %></h5>
          <p class="card-text"><%= truncate(article.description, length: 50) %></p>
          <%= link_to 'Show article', article_path(article), class: 'btn btn-success' %>
          <%= link_to 'Edit article', edit_article_path(article), class: 'btn btn-primary' %>
          <%= link_to 'Destroy article', article_path(article), method: :delete, data: { confirm: 'Are you Sure?' } ,class: 'btn btn-danger' %>
        </div>
        <div class="card-footer bg-dark text-white">
          <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
